name: Build and deploy action
on: [push]
jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      # Копируем код из репозитория в runner
      - name: clone code
        uses: actions/checkout@v2
      # Собираем
      - name: docker build
        run: docker build -t irka887/flask-app:$GITHUB_REF_NAME-$GITHUB_RUN_ID .
      #
      - name: docker login
        run: echo ${{ secrets.DOCKER_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      #
      - name: docker push
          run: docker push  irka887/flask-app:$GITHUB_REF_NAME-$GITHUB_RUN_ID .
